.main9 {font-family:ו,arial;font-size:12px;line-height:150%}
.hot{color:ff3300}
.big{font-size:14.8px;line-height:130%;font-weight: bold}
.xbt {color: #996600; text-decoration: underline;font-size:12px;line-height:150%}
.title {color: #000000;text-decoration: none;font-size:12px;line-height:150%}
.small {COLOR: #999966; FONT-SIZE: 11px}
td,p,li,input,select,font{color: #3E3E3E;font-family:ו,arial;font-size:12px;line-height:150%}
a {color: #000000;text-decoration: underline;font-size:12px;line-height:150%}
a{text-decoration:none}
a:hover {color: #666666; text-decoration: none;font-size:12px;line-height:150%}